dist
.buildpath
.project
.settings

convert/zh-CN/*.pdf
convert/zh-CN/*.html
convert/zh-CN/*.txt

convert/en-US/*.pdf
convert/en-US/*.html
convert/en-US/*.txt

convert/pt-BR/*.pdf
convert/pt-BR/*.html
convert/pt-BR/*.txt

!*.cfg




